{% extends 'base.html'%}

{% block head %}
<div id = "site">
<div id="greetings" class = "commonDiv">
    <h1 class="center"> PyChain</h1>
</div>
<div class = "center">
    <h2 class = "center"> Blockchain Log</h2>
</div>
{% endblock %}

{% block body %}
<div id='core' class = "commonDiv">
    <table>
        <tr>
            <th>{{"Block Index".center(20)}}</th>
            <th>{{"Previous Hash".center(1000)}}</th>
            <th>Block Hash</th>
            <th>Transaction</th>
            <th>Value</th>
            <th>Timestamp</th>
        </tr>
        {% for block in chain %}
        <tr>
            <td>{{block.index}}</td>
            <td>{{"0x" + block.previous_hash[0:6] + " ... " + block.previous_hash[-5:-1]}}</td>
            <td>{{"0x" + block.hash[0:6] + " ... " + block.hash[-5:-1]}}</td>
            <td>{{block.data}}</td>
            <td>{{block.txValue}} PYC</td>
            <td>{{block.timestamp}}</td>
        </tr>
        {% endfor %}
    </table>
    <form action="/" method="POST">
        <input type="submit" name="button_wallet" value="Create Wallet" id="walletCreation" class = "button">
        <input type="submit" name="button_tx" value="Transfer" id="txCall" class= "button">
        <input type="submit" name="button_allWallets" value="List Wallets" id="wallets" class = "button">
    </form>
    
    {% if txRequest %}
        <div class = "center">
            <form action="/" method="POST">
            <div>
                <h4>Insert amount of PYC for transfer</h4>
                <input type="text" name="txPYC" value="" id="txAmount" class = "button">
            </div>
            <div>
            <h4>Insert YOUR wallet address</h4>
            <input type="text" name="txYOURWallet" value="" id="txSender" class = "button">
            </div>
            <div>
            <h4>Insert the receiver wallet address</h4>
            <input type="text" name="txWallet" value="" id="txReceiver" class = "button">
            </div>
            <div>
            <h4>After filling all above, click "Send".</h4>
            <input type="submit" name="send" value="Send" id="txSend" class = "button">
            </div>
            
            </form>
        </div>
    {% endif %}
    <div class = "commonDiv">
    <h2 class = "center" id = "listOfWallets">List of Wallets:</h2>
    <table>
    <tr>
        <th>Address</th>
        <th>Balance</th>
    </tr>
    {% if ok %}
        {% for wallet in wallets %}
        <tr>
            <td>{{wallet.address.center(400)}}</td>
            <td>{{wallet.balance}} PyC</td>
        </tr>
        {% endfor %}
    {% endif %}
    <table/>
    </div>
</div>
{% endblock %}
</div>
