{% extends 'base.html'%}

{% block head %}
<div id="greetings">
    <h1> PyChain</h1>
</div>
<div>
    <h2> Blockchain Log</h2>
</div>
{% endblock %}

{% block body %}
<div id='core'>
    <table>
        <tr>
            <th>Block Index</th>
            <th>Previous Hash</th>
            <th>Block Hash</th>
            <th>Transaction</th>
            <th>Timestamp</th>
        </tr>
        {% for block in chain %}
        <tr>
            <td>{{block.index}}</td>
            <td>{{"0x" + block.previous_hash[0:6] + " ... " + block.previous_hash[-5:-1]}}</td>
            <td>{{"0x" + block.hash[0:6] + " ... " + block.hash[-5:-1]}}</td>
            <td>{{block.data}}</td>
            <td>{{block.timestamp}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}